@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .pause {
        animation-play-state: paused;
    }

    .word-spacing {
        word-spacing: 10px;
    }

    .image-back-shadow {
        filter: drop-shadow(0 0 0.35rem #8576FF);
    /*    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
    }
}

@keyframes  move{
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100px, 100px);
    }
}

.center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.dot-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.button-center {
    position: absolute;
}
